@import "button.css";
@import "pagination.css";

body {
    background-color: #DAE6F3;
    color: #336699;
    font-size: 10.5pt;
    display: none;
    font-family: "Microsoft YaHei" ! important;
}

table {
    width: 98%;
    border-collapse: collapse;
}

table,tr,td {
    background-color: #FFFFFF;
    color : #333333;
    border: 1px solid #525C3D;
    margin: 0 auto; 
    text-align: left;
}

th {
    text-align: center;
    height:25px;
}

.tr_active {
    background-color: #F0FBFF;
}

p{
    text-align: center;
}

tr{
    text-align: center;
    background-color: #158EBC;
}

a{
    text-decoration: none;
    color: #0099CC;
}

th a {
    text-decoration: none;
    color: #FFFFFF;
}

#menu_active {
    background-color: #18A8DE;
}

.menu {
    text-align: center;
}

.login_main {
    position: relative;
    top: 120px;
    font-size : 15pt;
}

.login_main td{
    text-align: center;
}

input,textarea{
    line-height: 24px;
    border: 1px solid #a1bcce;
    padding-left: 3px;
    font-size : 13px;
}

input{
	height:20px;
}

select{
    position: relative;
    font-size : 13px;
    border-width: 1px solid #a1bcce;
}

.login_main .title {
    font-size : 30pt;
    cursor : crosshair;
}

.login_main table {
    width: 40%;
}

.login_main td {
    height: 50px;
}

.cal_title {
    color : #0099CC;
    font-family : Georgia;
    font-size : 25pt;
    font-weight : bold;
    letter-spacing : 5px;
    cursor : crosshair;
}

.cal_title .sub_title{
    width: 30px;
    color : #242424;
    letter-spacing : 1px;
    font-weight : normal;
    font-size : 11pt;
    text-align : right;
}

.cal_main {
    font-family : Georgia;
    font-size : 15pt;
}

.cal_main td{
    text-align: center;
}

.cal_main .cnum {
    cursor:pointer;
    height:80px;
    font-size : 40pt;
}

.ban {
    background-color: #FFCCCC;
}

.enough {
    background-color: #99CC66;
}

.lack {
    background-color: #FFCC99;
}

.invalid {
    background-color: #E4E4E4;
}

.info td{
    color : #363636;
    text-align: center;
}

.input_white{
    background: #f8f8f8;
}

.input_red {
    background-color: #faddde;
	//background: url(../../etc/images/input_check.gif) no-repeat 0 -29px!important;
}

.input_yellow {
    background: #fef4e9;
}

.input_green {
    background: #e8f0de;
}

.input_empty .ajax_error{
    padding-left: 25px;
    color: #EE4F11;
    background: url(../../etc/images/input_check.gif) no-repeat 0 -27px!important;
}

#content_pie {
    text-align: center;
}

#content_bar {
    text-align: center;
}

.ctr_panel p { 
    text-align: center;
}

.contract_mdf { 
   font-style:bold;
}

.commiting{
	margin:6px;
	font-size:15px;
}

.order_ctr_panel{
	position: fixed;
	bottom: 12px;
	z-index: 3;
	right: 150px;
}

ul{ 
	list-style-type: none;
}

.order_op_panel a{
	margin : 5px 5px 5px 5px;
}