# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info

# JAVA
*.class
.metadata
BTree.zip
BTree
Cargo2014-6-5.zip
Elevator.zip
Elevator
JdbcTemplate
MyData
MyData_10_min
MyData_1_hour
MyData_30_min
QG___2015
QGlibrary
RemoteSystemsTempFiles
Servers
TestJava
activity
chapter2
chat
cyApp
log_info
msgserver.jar
msgserver_lib
nhms
param_1_min
qg2015
test.php
tongji_10_min
tongji_1_day
tongji_1_hour
tongji_1_min
tongji_30_min
tongji_5_min
tongji_fromz_param
tongji_warn
vnms
vnms4.2_xyj
warnstat_test
workspace.zip
xyj